/*global*/

@font-face {
    font-family: 'acremedium';
    src: url(../fonts/acre-medium-webfont.eot);
    src: url(../fonts/acre-medium-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/acre-medium-webfont.woff2) format('woff2'), url(../fonts/acre-medium-webfont.woff) format('woff'), url(../fonts/acre-medium-webfont.ttf) format('truetype'), url(../fonts/acre-medium-webfont.svg#acremedium) format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Georgia, serif;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: 'acremedium', Georgia, serif;
  -webkit-font-smoothing: auto;
}

h1 {
  font-size: 50px;
  font-weight: lighter;
  letter-spacing: 3px;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: 20px
}

li {
  list-style: none;
  float: left;
  margin: 20px;
  width: 28%;
}

h2.ng-scope {
    text-align: center;
}

li > h2{
  max-width: 170px;
  font-family: Tahoma,Arial,sans-serif;
  font-size: 10px;
  margin-top: 0;
  color: #666;
}

li > span{
  font-weight: bold;
  font-family: Tahoma,Arial,sans-serif;
  font-size: 13px;
  margin-top: 0;
}

/*li > img {
  max-width: 100%;
  max-height: 100%;
}*/

a {
    background-color: transparent;
}
a:active, a:hover {
    outline: 0;
}

.buttons {
  margin-top: 40px;
}
.buttons a {
  background: #4a85eb;
  color: #fff;
  font-family: 'acremedium', Georgia, serif;
  font-size: 1.2em;
  -webkit-font-smoothing: auto;
  text-decoration: none;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
  float: left;
  padding: 20px;
  margin-right: 10px;
}
.buttons a span {
  color: #fff;
  font-family: 'acremedium', Georgia, serif;
  -webkit-font-smoothing: auto;
  text-decoration: none;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.6em;
  display: block;
  text-align: center;
}

.wrap-content {
    width: 974px;
    margin: 0 auto;
}

.main-content {
    margin: 40px 0;
}

/*header*/

nav {
    height: 34px;
    width: 100%;
    background-color: #242424;
}

nav a {
    background-color: #fff;
    padding: 3px 15px 4px;
    margin-top: 3px;
    text-decoration: none;
    display: inline-block;
}

nav a span {
    font-size: 0.74em;
    line-height: 2.027027em;
    border-bottom: 1px solid #999;
}

nav a:hover span {
    color: #999;
}

.logo {
    margin-top: 20px;
    display: block;
}

/*search 404*/

.splash {
    float: left;
}

.search-section {
    width: 45%;
    margin-top: -350px;
    padding: 30px;
    float: right;
    background-color: #fff;
    position: relative;
}

.search-form {
  margin-top: 40px;
}

.search-listings {
    clear: both;
}

.search-form input {
  padding: 5px;
  border: 1px solid #999;
  height: 34px;
  width: 100%;
  padding-right: 40px;
}

.search-form button {
  display:block;
  height:32px;
  width: 34px;
  position: relative;
  float: right;
  margin-top: -33px;
}

@media (max-width: 974px) {
    .wrap-content {
        width: 100%;
    }
    .splash {
        display: none;
    }
    .search-section {
        width: 100%;
        margin-top: 0;
        float: left;
    }
}
