/*global*/

@font-face {
    font-family: 'acremedium';
    src: url(../fonts/acre-medium-webfont.eot);
    src: url(../fonts/acre-medium-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/acre-medium-webfont.woff2) format('woff2'),
         url(../fonts/acre-medium-webfont.woff) format('woff'),
         url(../fonts/acre-medium-webfont.ttf) format('truetype'),
         url(../fonts/acre-medium-webfont.svg#acremedium) format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
  font-family: Georgia, serif;
  -webkit-font-smoothing: antialiased;
  color: #000;
  margin:0;
  padding:0;
}
#font-test{
  font-family: acremedium;
}

a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}

.wrap-content {
  width: 974px;
  margin:0 auto;
}

.main-content {
  margin:40px 0;
}

/*header*/

nav {
  height: 34px;
  width:100%;
  background-color:#242424;
}

nav a {
  background-color: #fff;
  padding: 3px 15px 4px;
  margin-top: 3px;
  text-decoration: none;
  display: inline-block;
}

nav a span {
  font-size: 0.74em;
  line-height: 2.027027em;
  border-bottom: 1px solid #999;
}

nav a:hover span {
  color: #999;
}

.logo {
  margin-top:20px;
  display: block;
}

/*search 404*/

.splash {
  float: left;
}

.search-section {
  width: 45%;
  margin-top:-350px;
  padding: 30px 0 30px 30px;
  float: right;
  background-color: #fff;
  position: relative;
}

.search-listings {
  clear: both;
}
